{{ header }}{{ column_left }} 
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="button" form="form-banner" id="save_button" data-toggle="tooltip"  title="{{ text_button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
                <a href="index.php?route=kbmp_marketplace/seller_category&user_token={{ token }}" data-toggle="tooltip" title="{{ text_button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
            </div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %} 
                    <li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
                {% endfor %} 
            </ul>
        </div>
    </div>
	<script>
		$(document).ready(function()
		{
			$('#tabs2').scrollTabs();
		});	
	</script>
        
        <div class="container-fluid">
            <div class="row">
            <div class="col-lg-12 col-md-12">
                <ul class="nav nav-tabs scroll_tabs_theme_light" id="tabs2">
                    <li><a href="index.php?route=extension/module/kbmp_marketplace&user_token={{ token }}">{{ text_settings }}</a></li>
                    <li ><a href="index.php?route=kbmp_marketplace/sellers_list&user_token={{ token }}">{{ text_sellers_list }}</a></li>
                    <li><a href="index.php?route=kbmp_marketplace/sellers_account_approval_list&user_token={{ token }}">{{ text_seller_account_approval_list }}</a></li>
                    <li><a href="index.php?route=kbmp_marketplace/products_approval_list&user_token={{ token }}">{{ text_product_approval_list }}</a></li>
                    <li><a href="index.php?route=kbmp_marketplace/products_list&user_token={{ token }}">{{ text_seller_products }}</a></li>
                    <li><a href="index.php?route=kbmp_marketplace/sellers_order&user_token={{ token }}">{{ text_seller_orders }}</a></li>
                    <li><a href="index.php?route=kbmp_marketplace/admin_order&user_token={{ token }}">{{ text_admin_orders }}</a></li>
                    <li><a href="index.php?route=kbmp_marketplace/products_review&user_token={{ token }}">{{ text_product_reviews }}</a></li>
                    <li><a href="index.php?route=kbmp_marketplace/sellers_review_approval_list&user_token={{ token }}">{{ text_reviews_approval_list }}</a></li>
                    <li><a href="index.php?route=kbmp_marketplace/sellers_review&user_token={{ token }}">{{ text_seller_reviews }}</a></li>
                    <li><a href="index.php?route=kbmp_marketplace/sellers_category_request&user_token={{ token }}">{{ text_seller_category_request_list }}</a></li>
                    <li><a href="index.php?route=kbmp_marketplace/sellers_shipping&user_token={{ token }}">{{ text_seller_shippings }}</a></li>
                    <li class="active"><a href="index.php?route=kbmp_marketplace/seller_category&user_token={{ token }}">{{ text_seller_catgory_commision }}</a></li>
                    <li><a href="index.php?route=kbmp_marketplace/admin_commission&user_token={{ token }}">{{ text_admin_commissions }}</a></li>
                    <li><a href="index.php?route=kbmp_marketplace/sellers_transaction&user_token={{ token }}">{{ text_seller_transactions }}</a></li>
                    <li><a href="index.php?route=kbmp_marketplace/seller_payout_request&user_token={{ token }}">{{ text_seller_payout_request }}</a></li>
                    <li><a href="index.php?route=kbmp_marketplace/paypal_payout&user_token={{ token }}">{{ text_paypal_payout }}</a></li>
                    <li><a href="index.php?route=kbmp_marketplace/email_templates&user_token={{ token }}">{{ text_email_templates }}</a></li>
                    <li><a href="index.php?route=kbmp_marketplace/support&user_token={{ token }}">{{ text_support }}</a></li>
                </ul>
                
            <div class="panel panel-default">
                <div class="panel-heading" style="display: inline-block; width: 100%;"> 
                    {{ heading_title }} 
                </div>
                <div class="panel-body" style="clear: both">
                    <form id="category_list" class="form-horizontal" method="POST">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="input-width">{{ entry_default_commission }}<font  color="#f00000" size="2px">*</font></label>
                            <div class="col-sm-3">
                                <input name="kb_category_commission"  placeholder="{{ entry_default_commission }}" id="default_commission" class="form-control" value="{{ commission }}"  >
                            </div> 
                        </div>
                            
                        <div class="form-group" >
                            <div id ="email_message"></div>
                          <label class="col-sm-2 control-label" for="input-email">{{ entry_seller }}<font  color="#f00000" size="2px">*</font></label>
                            <div class="col-sm-10">
                                <input type="text" name="filter_email" placeholder="{{ entry_seller }}" id="input-email" class="form-control" {% if (commission is defined and commission != '') %} {{ 'readonly' }}{% endif %}/>
                                <div id="seller_email{{seller_info.seller_id}}" class="well well-sm" style="height: 150px; overflow: auto;">{{seller_info.email}} 
                                    <input type="hidden" name="seller_email[]" value="{{seller_info.seller_id}}" />
                                </div>      
                            </div>
                        </div>
                        
                        <div class="form-group" >
                            <div id ="message"></div>
                            <label class="col-sm-2 control-label" for="input-category"><span data-toggle="tooltip" title="{{ help_category }}">{{ entry_category }}<font  color="#f00000" size="2px">*</font></span></label>
                            <div class="col-sm-10">
                                <input type="text" name="category" value="" placeholder="{{ entry_category }}" id="input-category" class="form-control" {% if (commission is defined and commission != '') %} {{ 'readonly' }}{% endif %} />
                                <div id="product-category{{category.category_id}}" class="well well-sm" style="height: 150px; overflow: auto;">{{category.name}} 
                                    <input type="hidden" name="product_category[]" value="{{category.category_id}}" />
                                </div>      
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
                                
            </div>
</div>
</div>  
<style type="text/css">
    .kb-error {
        color: red;
        margin-left: 17.9%;
       
    }
    .kb-error2 {
        color: red;
        
        
    }
</style>
<script type="text/javascript">
// Category
$("#save_button").click(function(){ 

    $(".kb-error").remove();
    $(".kb-error2").remove();
    var flag = true;
    var data =  $('#test').val();
    var dataEmail = $('#test_email').val();
    var value = $('#default_commission').val();
    
    if (value == '' ) {
        flag = false;
        $('#default_commission').after("<span class='kb-error2'> {{ text_required }}</span>");
    } else if (parseInt(value) < 0 || parseInt(value) > 100   ) {
        flag = false;
        $('#default_commission').after("<span class='kb-error2'>Percentage must be between 0 to 100</span>");
    }
    {% if (commission is defined and commission == '') %}
    if(data == null){
        flag = false;
        $("#message").before("<span class='kb-error'> {{ text_required }}</span>");    
    }
    if (dataEmail == null) {
        flag = false;
        $("#email_message").before("<span class='kb-error'> {{ text_required }}</span>"); 
    }
    {% endif %}
    
    
    if (flag == false){
        
    }else if (flag == true) {
       $('#category_list').submit(); 
    }
         
   
});

 $('input[name=\'filter_email\']').autocomplete({
    'source': function(request, response) {
      $.ajax({
        url: 'index.php?route=kbmp_marketplace/seller_category/autocomplete&user_token={{ token }}&filter_email=' +  encodeURIComponent(request),
        dataType: 'json',
        success: function(json) {
          response($.map(json, function(item) {
            return {
              label: item['email'],
              value: item['customer_id']
            }
          }));
        }
      });
    },
    'select': function(item) {
        $('input[name=\'filter_email\']').val('');
        $('#seller_email' + item['value']).remove();

        $('#seller_email').append('<div id="seller_email' + item['value'] + '" ><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="seller_email[]" value="' + item['value'] + '" id="test_email" /></div>');
    }
 });
$('#seller_email').delegate('.fa-minus-circle', 'click', function() {
	$(this).parent().remove();
});

$('input[name=\'category\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=catalog/category/autocomplete&user_token={{ token }}&filter_name=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['category_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'category\']').val('');

		$('#product-category' + item['value']).remove();

		$('#product-category').append('<div id="product-category' + item['value'] + '" ><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="product_category[]" value="' + item['value'] + '" id="test" /></div>');
	}
});

$('#product-category').delegate('.fa-minus-circle', 'click', function() {
	$(this).parent().remove();
});

</script>
{{ footer }} 
  