{{ header }}{{ column_left }} 
<div id="content" class="bootstrap">
    <div class="page-header">
        <div class="container-fluid">          
          <h1>{{ heading_title }}</h1>
          <ul class="breadcrumb">
            {% for breadcrumb in breadcrumbs %} 
            <li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
            {% endfor %} 
          </ul>
        </div>
    </div>
    <script>
    $(document).ready(function() {
        $('#tabs2').scrollTabs();
    });	
    </script>
        <div class="container-fluid">		
        <div class="row">            
            <div class="col-lg-12 col-md-12">
                <ul class="nav nav-tabs scroll_tabs_theme_light" id="tabs2">
                    <li><a href="index.php?route=extension/module/kbmp_marketplace&user_token={{ token }}">{{ text_settings }}</a></li>
                    <li><a href="index.php?route=kbmp_marketplace/sellers_list&user_token={{ token }}">{{ text_sellers_list }}</a></li>
                    <li><a href="index.php?route=kbmp_marketplace/sellers_account_approval_list&user_token={{ token }}">{{ text_seller_account_approval_list }}</a></li>
                    <li><a href="index.php?route=kbmp_marketplace/products_approval_list&user_token={{ token }}">{{ text_product_approval_list }}</a></li>
                    <li><a href="index.php?route=kbmp_marketplace/products_list&user_token={{ token }}">{{ text_seller_products }}</a></li>
                    <li><a href="index.php?route=kbmp_marketplace/sellers_order&user_token={{ token }}">{{ text_seller_orders }}</a></li>
                    <li><a href="index.php?route=kbmp_marketplace/admin_order&user_token={{ token }}">{{ text_admin_orders }}</a></li>
                    <li><a href="index.php?route=kbmp_marketplace/products_review&user_token={{ token }}">{{ text_product_reviews }}</a></li>
                    <li><a href="index.php?route=kbmp_marketplace/sellers_review_approval_list&user_token={{ token }}">{{ text_reviews_approval_list }}</a></li>
                    <li><a href="index.php?route=kbmp_marketplace/sellers_review&user_token={{ token }}">{{ text_seller_reviews }}</a></li>
                    <li><a href="index.php?route=kbmp_marketplace/sellers_category_request&user_token={{ token }}">{{ text_seller_category_request_list }}</a></li>
                    <li><a href="index.php?route=kbmp_marketplace/sellers_shipping&user_token={{ token }}">{{ text_seller_shippings }}</a></li>
                    <li ><a href="index.php?route=kbmp_marketplace/seller_category&user_token={{ token }}">{{ text_seller_catgory_commision }}</a></li>
                    <li><a href="index.php?route=kbmp_marketplace/admin_commission&user_token={{ token }}">{{ text_admin_commissions }}</a></li>
                    <li><a href="index.php?route=kbmp_marketplace/sellers_transaction&user_token={{ token }}">{{ text_seller_transactions }}</a></li>
                    <li><a href="index.php?route=kbmp_marketplace/seller_payout_request&user_token={{ token }}">{{ text_seller_payout_request }}</a></li>
                    <li><a href="index.php?route=kbmp_marketplace/paypal_payout&user_token={{ token }}">{{ text_paypal_payout }}</a></li>
                    <li><a href="index.php?route=kbmp_marketplace/email_templates&user_token={{ token }}">{{ text_email_templates }}</a></li>
                    <li class="active"><a href="index.php?route=kbmp_marketplace/support&user_token={{ token }}">{{ text_support }}</a></li>
                </ul>
		    <div class="layout">
                        <div class="tab-content">

                            <!---------------------------------- Payment Methods ---------------------------------->
                            <div class="panel-body">
                                <div>
                                    <style>
                                        .productOCList .productImage img {
                                            width: 100%;
                                        }
                                        .productOCName {
                                            text-align: center;
                                            font-size: 18px;
                                            padding-top: 10px;
                                            font-weight: 500;
                                            color: #000;
                                            line-height: 24px;
                                        }
                                        .productContent .productContentText {
                                            font-size: 13px;
                                            text-align: center;
                                        }
                                        .productContent p {
                                            text-align: center;
                                        }
                                        .btn.btn-view {
                                            background: #06b7f0;
                                            width: 70%;
                                            color: #fff;
                                            text-transform: uppercase;
                                            margin-top: 10px;
                                            margin-bottom: 10px;
                                        }
                                        .productOCList {
                                            border: 1px solid #efefef;
                                            margin-bottom: 20px;
                                        }
                                        .productContent {
                                            padding: 0 12px;
                                        }
                                        h2.productSupportHeading {
                                            text-align: center;
                                            font-size: 20px;
                                            margin-bottom: 15px;
                                            color: #000;
                                            font-weight: 600;
                                            text-transform: uppercase;
                                        }
                                        .productSupportSubHeading {
                                            margin-bottom: 30px;
                                        }
                                        @media(max-width:1200px){
                                            .productOCName {
                                                min-height: 60px;
                                            }	

                                        }
                                        @media(max-width:767px){
                                            .productOCName {
                                                min-height: auto;
                                            }	
                                            .productOCList{
                                                max-width:400px;
                                                margin: 0 auto 20px;
                                            }

                                        }
                                    </style>
                                    <div class="productSupport">
                                        <div class="container-fluid">
                                            <p class="alert alert-info productSupportSubHeading"> 
                                                <a href="https://www.knowband.com/blog/user-manual/opencart-multi-vendor-marketplace-plugin/" target="_blank">{{ text_click_here }}</a> {{ text_user_manual }}<br>
                                                {{ text_support_ticket1 }}<a href="https://www.knowband.com/create-ticket" target="_blank">{{ text_support_ticket2 }}</a> {{ text_support_ticket3 }}
                                            </p>
                                            <h2 class="productSupportHeading">{{ text_support_other }}</h2><br>
                                            <div class="row">
                                                <div class="col-lg-3 col-md-3 col-sm-6 customHeight">
                                                    <div class="productOCList" style="height: 374px;">
                                                        <div class="productImage">
                                                            <img src="view\image\mp\one-page-checkout.jpg">
                                                        </div>
                                                        <div class="productContent">
                                                            <h4 class="productOCName">{{ text_support_sc }}</h4>
                                                            <p class="productContentText"> {{ text_support_sc_descp }} </p>
                                                            <p><a target="_blank" href="https://www.knowband.com/opencart-one-supercheckout-pro" class="btn btn-view">{{ text_support_view_more }}</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-6 customHeight">
                                                    <div class="productOCList" style="height: 374px;">
                                                        <div class="productImage">
                                                            <img src="view\image\mp\Opencart--etsy.jpg">
                                                        </div>
                                                        <div class="productContent">
                                                            <h4 class="productOCName">{{ text_support_etsy }}</h4>
                                                            <p class="productContentText"> {{ text_support_etsy_descp }} </p>
                                                            <p><a target="_blank" href="https://www.knowband.com/opencart-etsy-marketplace-integration" class="btn btn-view">{{ text_support_view_more }}</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-6 customHeight">
                                                    <div class="productOCList" style="height: 374px;">
                                                        <div class="productImage">
                                                            <img src="view\image\mp\Opencart--ebay.jpg">
                                                        </div>
                                                        <div class="productContent">
                                                            <h4 class="productOCName">{{ text_support_ebay }}</h4>
                                                            <p class="productContentText"> {{ text_support_ebay_descp }} </p>
                                                            <p><a target="_blank" href="https://www.knowband.com/opencart-ebay-integration" class="btn btn-view">{{ text_support_view_more }}</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-6 customHeight">
                                                    <div class="productOCList" style="height: 374px;">
                                                        <div class="productImage">
                                                            <img src="view\image\mp\Mobile-app-opencart-plugin.jpg">
                                                        </div>
                                                        <div class="productContent">
                                                            <h4 class="productOCName">{{ text_support_mab }}</h4>
                                                            <p class="productContentText"> {{ text_support_mab_descp }} </p>
                                                            <p><a target="_blank" href="https://www.knowband.com/opencart-mobile-app-builder" class="btn btn-view">{{ text_support_view_more }}</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{ text_support_ticket1 }} <a href="https://www.knowband.com/create-ticket" target="_blank">{{ text_support_ticket2 }}</a> {{ text_support_ticket3 }} 
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- layout-->
                </div>
                <!-- content tabs-->
            </div>
            <!-- box -->
        </div>
    </div>
 <!-- row -->
{{ footer }} 
<!-- // Main Container Fluid END -->
<!-- // for themer -->
