<div class="hozmenu-container">
	<div class="ma-nav-mobile-container">
		
			<div class="navbar">
				<div id="navbar-inner" class="navbar-inner navbar-inactive">
						<div class="menu-mobile">
							<a class="btn btn-navbar navbar-toggle">
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
							</a>
                        {% if mobile_menu %}
                        	<span class="brand navbar-brand">{{ menu_title }}</span>
                        {% else %}
                        	<span class="brand navbar-brand">{{ category_title }}</span>
                        {% endif %}
                    </div>
				
					{{ _menu }} 
			</div>
			</div>
		
	</div>
<div class="nav-container visible-lg visible-md">		
		<div id="pt_custommenu" class="pt_custommenu">
			<!-- <div class="container"> -->
				{{ hozmegamenu }}
				{% if (customer['isLogged']  and customer['isSeller'] is same as(0)) %}
					<div id="pt_menu_link9999" class="pt_menu pt_menu_link">
						<div class="parentMenu">
							<a href="index.php?route=account/seller"><span>{{ txt_become_seller }}</span></a>
						</div>
					</div>
                {% endif %}
			<!-- </div> -->
		</div>
	</div>
</div>
<div id="sticky-menu" data-sticky="{{ sticky_menu }}"></div>
<script >
//<![CDATA[
	var body_class = $('body').attr('class'); 
	if(body_class.search('common-home') != -1) {
		$('#pt_menu_home').addClass('act');
	}	
var CUSTOMMENU_POPUP_EFFECT ={{ effect }}
var CUSTOMMENU_POPUP_TOP_OFFSET = {{ top_offset }}
//]]>
</script>